<div class="container">
  <div class="row">
    <mat-card class="col-xs-5">
      <mat-card-title>Users</mat-card-title>
      <mat-card-subtitle>{{usersCount}} {{usersCount > 1 ? "users" : "user" }}</mat-card-subtitle>
      <mat-icon mat-card-avatar>supervisor_account</mat-icon>
      <mat-card-actions>
        <button mat-button routerLink="/users">Show Users</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="col-xs-5">
      <mat-card-title>Groups</mat-card-title>
      <mat-card-subtitle>{{0}}</mat-card-subtitle>
      <mat-icon mat-card-avatar>speaker_group</mat-icon>
      <mat-card-actions>
        <button mat-button routerLink="/groups">Show Groups</button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
