<!--<nav mat-tab-nav-bar>-->
<!--  <a mat-tab-link routerLink="" routerLinkActive="active-link">User Page</a>-->
<!--  <a mat-tab-link routerLink="/create-user" routerLinkActive="active-link">Create User</a>-->
<!--  <a mat-tab-link routerLink="/user-list" routerLinkActive="active-link">User List</a>-->
<!--</nav>-->
<!--<div>-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->

<app-home-group></app-home-group>













<!--////////////////////////////////Material///////////////////-->
<!--<mat-checkbox-->
<!--  #checkbox-->
<!--  value=""-->
<!--  [checked]="isChecked"-->
<!--  (change)="onChange()"-->
<!--&gt;{{ isShow ? 'Show More' : 'Show Less'}}</mat-checkbox>-->
<!--<p *ngIf="checkbox.checked">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid culpa cumque eligendi-->
<!--  expedita necessitatibus nobis officiis placeat ratione? Animi consequatur error fugit, nulla porro quisquam sapiente-->
<!--  suscipit voluptatem. Fugiat?</p>-->

<!--<mat-radio-group value="1">-->
<!--  <mat-radio-button value="1">Male</mat-radio-button>-->
<!--  <mat-radio-button value="0">Female</mat-radio-button>-->
<!--</mat-radio-group>-->
<!--<br>-->

<!--<mat-form-field appearance="fill">-->
<!--  <mat-label>Cars</mat-label>-->
<!--  <mat-select value="carsSelect">-->
<!--    <mat-option>None</mat-option>-->
<!--    <mat-option *ngFor="let item of cars" [value]="item.value">{{item.name}}</mat-option>-->
<!--  </mat-select>-->
<!--</mat-form-field>-->

<!--<br>-->

<!--<mat-form-field appearance="outline">-->
<!--  <mat-label>First name</mat-label>-->
<!--  <input matInput>-->
<!--</mat-form-field>-->
